<ion-content class="registro-publico">
  <div class="header-section">
    <div class="utzac-branding">
      <ion-icon name="school-outline" class="logo-icon"></ion-icon>
      <div class="branding-text">
        <h1>UTZAC</h1>
        <p>Universidad Tecnológica Zacatecas Norte</p>
      </div>
    </div>
    <div class="page-title">
      <h2>Registro de Aspirantes</h2>
      <p>Completa el formulario para iniciar tu proceso de admisión</p>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" class="aspirante-form">
    <div class="form-section">
      <h3>Información Personal</h3>
      
      <ion-item>
        <ion-label position="stacked">Nombre completo*</ion-label>
        <ion-input 
          [(ngModel)]="aspiranteData.nombre"
          name="nombre"
          placeholder="Ingresa tu nombre"
          required>
        </ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Correo Electrónico *</ion-label>
        <ion-input 
          type="email"
          [(ngModel)]="aspiranteData.email"
          name="email"
          placeholder="ejemplo@correo.com"
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfono *</ion-label>
        <ion-input 
          type="number"
          [(ngModel)]="aspiranteData.telefono"
          name="telefono"
          placeholder="10 dígitos"
          required>
        </ion-input>
      </ion-item>

       
    </div>

    <div class="form-section">
      <h3>Información Académica</h3>
      <ion-item>
        <ion-label position="stacked">Bachillerato de Procedencia *</ion-label>
        <ion-input 
          type="tel"
          [(ngModel)]="aspiranteData.bachillerato_procedencia"
          name="bachillerato_procedencia"
          placeholder="Colegio de bachilleres ...."
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Grado Escolar Actual *</ion-label>
        <ion-select 
          [(ngModel)]="aspiranteData.grado_escolar"
          name="grado_escolar"
          placeholder="Selecciona tu grado"
          required>
          <ion-select-option value="1° Semestre">1° Semestre</ion-select-option>
          <ion-select-option value="2° Semestre">2° Semestre</ion-select-option>
          <ion-select-option value="3° Semestre">3° Semestre</ion-select-option>
          <ion-select-option value="4° Semestre">4° Semestre</ion-select-option>
          <ion-select-option value="5° Semestre">5° Semestre</ion-select-option>
          <ion-select-option value="6° Semestre">6° Semestre</ion-select-option>
          <ion-select-option value="Egresado">Egresado</ion-select-option>
        </ion-select>
      </ion-item>
     

      <ion-item>
        <ion-label position="stacked">Municipio de Procedencia *</ion-label>
        <ion-input 
          type="tel"
          [(ngModel)]="aspiranteData.municipio_procedencia"
          name="municipio_procedencia"
          placeholder="Guadalupe, Fresnillo ...."
          required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">¿Cómo te enteraste de UTZAC? *</ion-label>
        <ion-select 
          [(ngModel)]="aspiranteData.como_se_entero"
          name="como_se_entero"
          placeholder="Selecciona una opción"
          required>
          <ion-select-option 
            *ngFor="let opcion of enterasteOpciones" 
            [value]="opcion.documentId">
            {{opcion.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      
    </div>
    <div class="form-section">
      <h3>¡Aprende y transforma el futuro!</h3>
      <ion-item>
        <img src="http://localhost:1337/uploads/medium_unnamed_a0411f9cfd.png" alt="">
      </ion-item>
    </div>

     <div class="form-section">
      <h3>Interes en la univesidad</h3>
      <ion-item>
        <ion-label position="stacked">Carrera de Interés *</ion-label>
        <ion-select 
          [(ngModel)]="aspiranteData.carrera_interes"
          name="carrera_interes"
          placeholder="Selecciona una carrera"
          required>
          <ion-select-option 
            *ngFor="let carrera of carreras" 
            [value]="carrera.documentId">
            {{carrera.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

            <ion-item>
        <ion-label position="stacked">Medio de contacto*</ion-label>
        <ion-select 
          [(ngModel)]="aspiranteData.medio_contacto"
          name="medio_contacto"
          placeholder="Selecciona el medio de contacto"
          required>
          <ion-select-option value="Llamada">Llamada</ion-select-option>
          <ion-select-option value="Presencial">Presencial</ion-select-option>
          <ion-select-option value="Whatsapp">Whatsapp</ion-select-option>
          <ion-select-option value="Facebook">Facebook</ion-select-option>
          <ion-select-option value="Instagram">Instagram</ion-select-option>
          <ion-select-option value="Correo electrónico">Correo electrónico</ion-select-option>
          <ion-select-option value="Evento">Evento</ion-select-option>
          <ion-select-option value="Platica promocional">Platica promocional</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Campus de Interés *</ion-label>
        <ion-select 
          [(ngModel)]="aspiranteData.campus_interes"
          name="campus_interes"
          placeholder="Selecciona un campus"
          required>
          <ion-select-option 
            *ngFor="let campus of campusOptions" 
            [value]="campus.documentId">
            {{campus.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      
    </div>

    <div class="form-section">
      <h3>Comentarios Adicionales</h3>
      
      <ion-item>
        <ion-label position="stacked">Comentarios (Opcional)</ion-label>
        <ion-textarea 
          [(ngModel)]="aspiranteData.comentarios"
          name="comentarios"
          placeholder="Comparte cualquier información adicional que consideres importante..."
          rows="4">
        </ion-textarea>
      </ion-item>
   </div>

    <div class="form-actions">
      <ion-button 
        expand="block" 
        type="submit" 
        [disabled]="!isFormValid() || isSubmitting"
        class="submit-button">
        <ion-icon name="send-outline" slot="start"></ion-icon>
        <span *ngIf="!isSubmitting">Enviar Registro</span>
        <span *ngIf="isSubmitting">Enviando...</span>
      </ion-button>
    </div>
  </form>

  

  <!-- Modal de confirmación -->
  <ion-modal [isOpen]="showSuccessModal" (didDismiss)="closeSuccessModal()">
    <ng-template>
      <ion-header>
        <ion-toolbar style="--background: #0B5135;">
          <ion-title>¡Registro Exitoso!</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeSuccessModal()">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="success-modal" style="--background:rgb(255, 255, 255) ;">
        <div class="success-content">
          <ion-icon name="checkmark-circle" class="success-icon"></ion-icon>
          <h2>¡Gracias por tu interés en UTZAC!</h2>
          <p>Tu registro ha sido enviado exitosamente. Un responsable del área se pondrá en contacto contigo pronto para brindarte más información sobre el proceso de admisión.</p>
          <div class="contact-info">
            <h3>Información de Contacto:</h3>
            <p><ion-icon name="call"></ion-icon> (492) 922 8500</p>
            <p><ion-icon name="mail"></ion-icon> admisiones@utzac.edu.mx</p>
            <p><ion-icon name="location"></ion-icon> Carretera Río Grande - Fresnillo Km. 4.5</p>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>